.nav-links-wrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
  border: 2px solid black;
}

.nav-link {
  color: black;

  transition: 0.5s all ease-in-out;
  padding: 0;
  margin: 5px 15px;
  &:hover {
    color: gray;
  }
}
